<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div >
    <h2>Login</h2>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="form-control" required>
      </div>
      <button  type="submit"   class="btn btn-primary">Login</button>
    </form>
    <p>Don't have an account? <a href="/views/register.ejs">Register here</a></p>
  </div>
</body>
</html>
