<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>todo list</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>userName</th>
                    <th>email</th>
                    <th>MobileNo</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(function(users) { %>
                    <tr>
                         <td><%= users.username %></td>  
                         <td><%= users.email %></td>  
                         <td><%= users.mobileNo %></td>  
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>