<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User TodoList</title>
</head>
<body>
    <div>
        
        <h1>User TodoList </h1>
        <div>
            <table>
              <thead >
                <tr>
                  <th>
                    UserName
                  </th>
                  <th> 
                    email
                  </th>
                  <th> 
                    MobileNo
                  </th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>
                      Dev
                    </td>
                    <td>
                      Bharadva
                    </td>
                    <td>
                      1234353456565
                    </td>
                  </tr>
            
              </tbody>
            </table>
            </div>
    </div>
</body>
</html>